.topBtnContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.srcBtnContainer {
  width: 46px;
}

.srcInputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.srcInput {
  border: 1px solid orangered;
  margin: auto;
  width: 80%;
}
