.containerIngredients {
  height: 640px;
  width: 360px;
}

.containerIngredientsCards {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 70px;
}

.cards a {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: fit-content;
}

.title {
  background: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 14px;
  mix-blend-mode: darken;
  opacity: 0.62;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
