.searchContainer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.radioButtons {
  appearance: none;
  background: white;
  border: 3px solid white;
  border-radius: 0%;
  box-sizing: border-box;
  font-size: 18px;
  height: 10px;
  outline: 1px solid orangered;
  width: 10px;
}

.font {
  font-size: 14px;
}

.radioButtons:checked {
  background: rgb(190, 92, 0);
}

.searchBtn {
  background-color: orangered;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 900;
}
